# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
        test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
        alias ls='ls --color=auto'
        alias dir='dir --color=auto'
        alias vdir='vdir --color=auto'
        alias grep='grep --color=auto'
        alias fgrep='fgrep --color=auto'
        alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
# export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# PATHS
alias cdco="cd $HOME/Documents/code"
alias cdpu="cd $HOME/Documents/code/puppet"

# IDE
alias coi='code-insiders .'

# VAGRANT
alias vu='vagrant up'
alias vs='vagrant ssh'
alias vd='vagrant destroy -f'

# DOCKER
alias dps="docker ps"
alias dpsa="docker ps -a"
alias di="docker inspect"

# KUBERNETES
## MINIKUBE
alias mksv="minikube start --vm-driver=virtualbox"
alias mks="minikube start"
alias mksto="minikube stop"
alias mkst="minikube status"
alias mkssh="minikube ssh"
alias mkde="minikube delete"
alias mkda="minikube dashboard"

## KUBECTL
alias kga="kubectl get all"
alias kgp="kubectl get pods"
alias kgd="kubectl get deployments"
alias kgs="kubectl get services"
alias kgr="kubectl get replicasets"
