alias ealias='vim ~/.oh-my-zsh/custom/aliases.zsh'

########## Source Reload ##########
alias reload.zsh="source ~/.zshrc"
alias reload.profile="source ~/.bash_profile"
alias reload.term="source ~/.bash_profile && source ~/.zshrc"

########## enable color support of ls and also add handy aliases ##########
if [ -x /usr/bin/dircolors ]; then
        test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
        alias ls='ls --color=auto'
        alias dir='dir --color=auto'
        alias vdir='vdir --color=auto'
        alias grep='grep --color=auto'
        alias fgrep='fgrep --color=auto'
        alias egrep='egrep --color=auto'
fi

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias _="sudo"
alias rr="rm -rf"

########## PATHS ##########
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias cdco="cd ~/code"
alias cddl="cd ~/Downloads"
alias cddt="cd ~/Desktop"

########## GIT ##########
alias g="git"
alias gaa="git add --all"
alias gcm="git commit -m"
alias gcam="git commit -a -m"
alias gd="git diff"
alias gf="git fetch"
alias gfa="git fetch --all --prune"
alias gfo="git fetch origin"
alias gpl="git pull"
alias gplo="git pull origin"
alias gpso="git push origin"
alias gps="git push"
alias gpsfo="git pull -f origin"
alias gst="git status"

########## IDE ##########
alias coi='code-insiders .'

########## VAGRANT ##########
alias vu='vagrant up'
alias vs='vagrant ssh'
alias vd='vagrant destroy -f'

########## DOCKER ##########
alias dimg="docker images --all"
alias diaq="docker images -a -q"
alias dri="docker rmi"
alias dps="docker ps"
alias dpsa="docker ps -a"
alias dpsaq="docker ps -a -q"
alias di="docker inspect"
alias drc="docker rm"
alias dst="docker stop"

##########    K8S   ##########
########## MINIKUBE ##########
alias mkdockeron='eval $(minikube docker-env)'
alias mkdockeroff='eval $(minikube docker-env -u)'
alias mk="minikube"
alias mksv="minikube start --vm-driver=virtualbox"
alias mksvcr="minikube start --vm-driver=virtualbox --container-runtime=cri-o"
alias mks="minikube start"
alias mks4="minikube start --memory='4000MB'"
alias mks8="minikube start --memory='8192MB'"
alias mks16="minikube start --memory='16384MB'"
alias mks8c4="minikube start --memory='8192MB' --cpus='4'"
alias mksto="minikube stop"
alias mkst="minikube status"
alias mkssh="minikube ssh"
alias mkde="minikube delete"
alias mkda="minikube dashboard"
alias mksvc="minikube service"
alias mksvcl="minikube service list"

########## KUBECTL ##########
alias k="kubectl"
alias kc="kubectl create"
alias kd="kubectl describe"
alias kg="kubectl get"
alias keit="kubectl exec -it"
alias kga="kubectl get all"
alias kgp="kubectl get pods"
alias kgpsl="kubectl get pods --show-labels"
alias kgd="kubectl get deployments"
alias kgn="kubectl get nodes"
alias kgna="kubectl get namespaces"
alias kgi="kubectl get ingress"
alias kgrs="kubectl get rs"
alias kgr="kubectl get replicasets"
alias kgsec="kubectl get secret"
alias kgsvc="kubectl get services"
alias kgpvc="kubectl get PersistentVolumeClaim"
alias kgpv="kubectl get PersistentVolume"
alias kl="kubectl logs"
alias kdsvc="kubectl delete service"
alias kddply="kubectl delete deployment"
alias kdp="kubectl delete pods"

########## KUBECTL - CONFIGURATION ##########
alias kci='kubectl cluster-info'
alias kgc='kubectl config get-contexts'
alias kcuc='kubectl config use-context'
alias kcsc='kubectl config set-context "$(kubectl config current-context)"'
alias kcscn='kcsc --namespace'
alias kcv='kubectl config view'

########## KUBECTL - NETWORKING ##########
alias kpf='kubectl port-forward'
alias kp='kubectl proxy'

################ KUBECTX #################
alias kcci='kubectx ci-k8s'
alias kcin='kubectx intg-k8s'
alias kcua='kubectx uat-k8s'
alias kcmk='kubectx minikube'v

################# TMUX ##################
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"