[color]
	ui = auto
[core]
	editor = atom --wait
[help]
	autocorrect = 1
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pr = pull --rebase
	hist = log --oneline --decorate --graph
	fa = fetch --all
	pf = push -f
	prc = rebase --continue
	pra = rebase --abort
	lol = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	glol = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	lola = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
[credential]
	helper = cache --timeout=7200
[user]
	email = cfgc2828@gmail.com
	name = devcfgc
