# copy to ~/.ssh/config

Host github.com
        ControlMaster auto
        ControlPersist 120

Host *
        # Always use SSH2.
        Protocol 2

        # Use a shared channel for all sessions to the same host,
        # instead of always opening a new one. This leads to much
        # quicker connection times.
        ControlMaster auto
        # You need to create the dir ~/.ssh/control if it doesn't exists
        ControlPath ~/.ssh/control/%r@%h:%p
        ControlPersist 1800

        Compression yes
        TCPKeepAlive yes
        ServerAliveInterval 20
        ServerAliveCountMax 10

# Custom stuff
Host *.customdomain*.com
    User devcfgc
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
Host 10.*.*.*
    User devcfgc
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
Host 172.*.*.*
    User devcfgc
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
